
@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('../fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
}

body {
    font-family: 'ShadowsIntoLight';
}

.app_container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading {
    min-height: 20vh;
    color: blue;
    margin: 10px;
    background-image: url('../images/nice_car.png');
    background-position: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.heading .title {
    background-color: white;
    padding: 5px;
    display: inline;
}
.buttonDefault {
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.inputTextDefault {
    padding: 5px;
    font-size: 16px;
}
.controlGroups {
    margin: 5px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

#errorFeedback, #errorFeedbackView {
    color: red;
    padding: 5px;
}

table td a{
    margin: 0 5px 0 5px;
}